{% extends "base.twig" %}

{% block content %}
	<div class="l-wrapper u-text-center">
		<br><br><br><br><br>
		<h1>404: Deze pagina bestaat niet (meer)</h1>
		<p>De pagina die u wilde bereiken bestaat niet meer of is verplaatst.</p>
		<br><br><br><br><br>
	</div>
{% endblock %}