{% extends "base.twig" %}

{% block content %}
<div class="s-contact-page">
    <div class="l-wrapper --small">
        <h1 class="c-heading --xxxl u-mb">Bedankt voor je bericht</h1>
        <div class="c-paragraph --medium u-mb">
            <p class="c-paragraph u-mb">Je bericht is succesvol naar ons verstuurd. Wij nemen zo snel mogelijk contact met je op.</p>
        </div>
    </div>
</div>

{% endblock %}