<div class="s-blogs">
    <div class="l-wrapper">
        <div class="u-text-center">
            <h2 class="c-heading --xxxl u-mb+">Trainingen</h2>
        </div>
        <div class="s-blogs__grid u-mb">

            {% for course in courses %}
            <a href="{{ course.url }}" class="c-blog-card">
                <div class="c-blog-card__image">
                    <img src="{{ course.image.url }}">
                </div>
                <div class="c-blog-card__date">2 x per jaar</div>
                <div class="c-blog-card__title">{{ course }}</div>
                <div class="c-blog-card__description">{{ course.description }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
