<div id="onze-klanten" class="s-interesting-employers">
    <div class="l-wrapper">
        <h2 class="c-heading --xxxl u-mb+ u-text-center">
            Een selectie van onze klanten
        </h2>
        <div class="s-interesting-employers__grid u-mb+">
            {% for client in clients %}
            <div>
                <a href="">
                    <div class="s-interesting-employers__logo">
                        <img loading="lazy" src="{{ client.logo.url }}">
                    </div>
                    <div class="s-interesting-employers__company">
                        <b>{{ client }}</b><br>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>