<header class="s-header ">
	<div class="l-wrapper">
		<div class="s-header__wrapper">
			<div class="s-header__hamburger">
				<button class="s-hamburger" @click="showMobileMenu = true">
					<img src="https://www.redvice.eu/dist/img/hamburger.svg">
				</button>
			</div>
			<a href="/">
				<img class="s-header__logo" src="{{ theme.uri }}/images/redvice_logo.png">
			</a>

			<ul class="s-header__menu">
				<li>
					<a href="https://www.redvice.eu/vacatures"
					   class="s-header__menu-item"
					>
						Vacatures
					</a>
				</li>
				<li>
					<a href="https://www.redvice.eu/voor-werkgevers"
					   class="s-header__menu-item"
					>
						Bedrijven
					</a>
				</li>
				<li>
					<a href="https://www.redvice.eu/contact"
					   class="s-header__menu-item "
					>
						Contact
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>

<div class="s-mobile-menu" :class="{'--enabled': showMobileMenu }">
	<a class="s-mobile-menu__link" href="/">Home</a>
	<a class="s-mobile-menu__link" href="https://www.redvice.eu/vacatures">Vacatures</a>
	<a class="s-mobile-menu__link" href="https://www.redvice.eu/voor-werkgevers">Voor werkgevers</a>
	<a class="s-mobile-menu__link" href="https://www.redvice.eu/contact">Contact</a>
	<button class="s-mobile-menu__link --account" @click="toggleAccountDropdown()">Account</button>
	<button class="s-mobile-menu__close" @click="showMobileMenu = false">
		<img src="https://www.redvice.eu/dist/img/icons/cross-white.svg">
	</button>
</div>

<!-- ACCOUNT DROPDOWN FOR MOBILE -->
<div
		class="s-account-dropdown u-hide@tablet-desktop"
		v-if="openAccountDropdown === true"
>
	<div class="s-account-dropdown__login-wrapper">
		<h3 class="s-account-dropdown__title">Inloggen</h3>
		<form method="POST" action="https://www.redvice.eu/login">

			<input type="hidden" name="_token" value="PWH0kDzqcNPtunx3RhVjGM8aWkA2rU8l5GTqVuDm" autocomplete="off">

			<input
					type="text"
					id="email"
					name="email"
					class="c-input --small u-mb-"
					placeholder="E-mailadres"
					value=""
					required
					autofocus
			>


			<input
					type="password"
					id="password"
					name="password"
					class="c-input --small u-mb-"
					placeholder="Wachtwoord"
					required
			>
			<div class="c-checkbox u-mb-">
				<input type="checkbox" name="remember" id="remember-me">
				<label for="remember-me">Onthoud mij</label>
			</div>

			<button
					type="submit"
					class="c-button --small --full-width --light-blue u-mb-"
			>
				Inloggen
			</button>
		</form>
		<a href="https://www.redvice.eu/wachtwoord/reset">Wachtwoord vergeten?</a>
	</div>
	<div class="s-account-dropdown__register-wrapper">
		<p class="u-mb-">Heb je nog geen account?</p>
		<a href="https://www.redvice.eu/registreren" class="c-button --small --full-width --dark-blue">
			Account aanmaken
		</a>
	</div>
</div>
