<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <title>De beste trainingen op het gebied van HR en Employer Branding. : </title>
    <meta name="description" content="Trainingen van Redvice helpen je de kandidaat te vinden die je zoekt. Na jaren ervaring met duizenden vacatureprocedures, weet Redvice waarom je nu niet vindt wat je zoekt!" />
    <meta name="keywords" content="recruitment,werving,selectie,search,agro,food,trainingen,hr,employer branding"/>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- ASSETS -->
    <link rel="stylesheet" href="{{ theme.uri }}/style.css?d=202205231214">
    <script defer src="/dist/js/third-party.js?d=202205231214"></script>
    <script defer src="/dist/js/scripts.js?d=202205231214"></script>
    <script src="https://kit.fontawesome.com/c450cfb7dd.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/flatpickr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>
    {{function('wp_head')}}
