<div class="s-latest-job-posts">
    <div class="l-wrapper" style="color: white;">
        <h2 class="c-heading --xxxl u-mb+ u-text-center">
            Pas onze werkwijze toe en zorg dat:
        </h2>
        <ul class="c-list --checkmark">
            <li>
                Je geen vacature opstelt waar niemand op zit te wachten.
            </li>
            <li>
                Je geen kandidaten zoekt voor wie jouw job geen uitdaging is.
            </li>
            <li>
                Je voorkomt dat verkeerde kandidaten je vacature wel onder ogen krijgen en de goede niet.
            </li>
            <li>
                Kandidaten niet in slaap vallen tijdens het lezen van je vacaturetekst.
            </li>
            <li>
                Kandidaten niet afhaken omdat ze niet weten of ze wel geschikt zijn.
            </li>
            <li>
                Je voorkomt dat nieuwe werknemers binnen een jaar weer vertrekken.
            </li>
        </ul>
    </div>
</div>