.l-wrapper
    margin-left: auto
    margin-right: auto
    max-width: 1240px
    +padding-left-right($default-spacing)

    &.\--xs
        max-width: 650px

    &.\--small
        max-width: 832px

    &.\--medium
        max-width: 1035px

    article
        padding-top: 60px

        ul
            list-style-type: disc
            padding-left: 40px
            margin-bottom: 20px

            li
                list-style: disc

        h1
            font-size: 41px
            margin-bottom: 20px
            +tablet
                font-size: 30px
            +mobile
                font-size: 26px

        a
            text-decoration: underline
            color: #4d9d2f
